<h1>타이틀화면</h1>
(지상이가 만든 타이틀 들어갈 예정)

<div>
* 로그인 안하면 화장대 못들어감</br>
* 타이틀에서 밑으로 스크롤 하면 견본화장대 구경 가능
</div>
</br>
</br>
</br>
</br>
</br>
</br>


<% if user_signed_in? %>
	<%= link_to "내 화장대로 이동(테스트링크)", tables_path(user_id: current_user.id) %> 
<% end %>