/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.label, .imageuploadclass {
  font-size: 13px;
}
.jnav{
  margin: 0 auto;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.jnavbar_brand:hover, .jnavbar_brand:visited {
  text-decoration: none;
  color: white;
}
.jnavbar_brand{
  font-size: 50px;
  color: white;
}

.cntr-innr {
  text-align: center;
  vertical-align: middle;
  position: absolute;
  right: 25px;
  top: 25px;
  color: white;
}
/*** STYLES ***/
.search {
  display: inline-block;
  position: relative;
  height: 25px;
  width: 25px;
  box-sizing: border-box;
  margin: 0px 8px 7px 0px;
  padding: 7px 9px 0px 9px;
  border: 3px solid #FFFFFF;
  border-radius: 25px;
  transition: all 200ms ease;
  cursor: text;
}
/*.search:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 11px;
  right: -4px;
  top: 17px;
  background: #FFFFFF;
  border-radius: 3px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  transition: all 200ms ease;
}*/
.search.active,
.search{
  width: 200px;
  height: 35px;
  margin-right: 100px;
}
/*.search.active:after,
.search:hover:after {
  height: 0px;
}*/
.search input {
  width: 100%;
  border: none;
  box-sizing: border-box;
  font-family: Helvetica;
  font-size: 15px;
  color: inherit;
  background: transparent;
  outline-width: 0px;
}
.janesearch{
  display: flex;
}
.janesubmit{
  margin-left: 10px;
}
/*tablesindex에서상품조회모달*/
.cosmeticmodal_content {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 2px 10px 18px #202020;
  display: block;
  margin: 50px auto;
  position: relative;
  transition: all 0.2s ease-in-out;
  width: 350px;
}
.newcosmetic-edit-content {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 2px 10px 18px #202020;
  display: block;
  margin: 50px auto;
  position: relative;
  width: 400px;
  height: 450px;
  display: flex;
  justify-content: center;
}
.jcontent_2_edit{
  margin-left: 20px;
}
.topofthemodaledit{
  display: flex;
  justify-content: space-around;
}
.modalcos{
  width: 250px;
}
.bottomofthemodaledit{
  margin-left: 10px;
}
.newcosmetic-edit-modal{
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  padding-top: 60px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/*search modal*/
.search_modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 60px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.search_modal_content{
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 2px 10px 18px #202020;
  display: block;
  height: 480px;
  margin: 50px auto;
  position: relative;
  transition: all 0.2s ease-in-out;
  width: 260px;
}
.s_close{
  font-size: 20px;
}
.s_titletitle{
  margin-top: 10px;
}