/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 60px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* The Close Button */
.close {
    color: #aaaaaa;
    /*float: right;*/
    font-size: 28px;
    font-weight: bold;
    width: 20px;
    position: relative;
    bottom: 15px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/*여기부터 상품등록*/
* {
  box-sizing: border-box;
/*  margin: 0;
  padding: 0;*/
}

*:focus {
  outline: none;
}
.modal-content {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 2px 10px 18px #202020;
  display: block;
  height: 520px;
  margin: 50px auto;
  max-width: 100%;
  position: relative;
  transition: all 0.2s ease-in-out;
  width: 300px;
}

.ctn-form {
  display: block;
  height: 300px;
  margin: 25px auto;
  position: relative;
  top: 20px;
  width: 90%;
}

.titletitle {
  bottom: 10px;
  color: #4c747e;
  display: block;
  font-size: 22px;
  font-weight: bold;
  position: relative;
}

.form-group {
  margin: 25px auto;
  position: relative;
  text-align: left;
}

.control-inputs {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  border-width: 0;
  box-shadow: none;
  color: rgba(0, 0, 0, 0);
  display: block;
  font-size: 1rem;
  height: 25px;
  line-height: 1.9;
  transition: all 0.28s ease;
  width: 100%;
}

.control-inputs:focus,
.control-inputs:valid {
  color: #333333;
}

.control-label {
  color: #9e9e9e;
  float: left;
  font-size: 1rem; 
  font-weight: normal;
  position: absolute;
  top: 0.25rem;
  transition: all 1s ease;
  z-index: 100;
}

.control-inputs:focus ~ .control-label, 
.control-inputs:valid ~ .control-label {
  color: #808080;
  font-size: 0.8rem;
  left: 0;
  top: -1rem;
}

.control-inputs:focus ~ .control-label {
  color: #4c747e;
}

.control-inputs:focus ~ .bar::before {
  left: 0;
  width: 100%;
}



.bar::before {
  background-color: #4c747e;
  bottom: -0.0625rem;
  content: '';
  font-size: 1em;
  height: 0.125rem;
  left: 50%;
  position: absolute;
  transition: left 0.28s ease, width 0.28s ease;
  width: 0;
  z-index: 1000;
}
  
.bar {
  border-bottom: 0.0625rem solid #9e9e9e;
  display: block;
  position: relative;
}

.btn-send {
  background-color: #4c747e;
  border: 0;
  box-shadow: 1px 0px #3f5f6a, 0px 1px #3f5f6a,
              2px 1px #3f5f6a, 1px 2px #3f5f6a,
              3px 2px #3f5f6a, 2px 3px #3f5f6a,
              4px 3px #3f5f6a, 3px 4px #3f5f6a,
              5px 4px #3f5f6a, 4px 5px #3f5f6a,
              6px 5px #3f5f6a, 5px 6px #3f5f6a;
  color: #ffffff;
  font-size: 17px;
  height: 37px;
  width: 100%;
}

.btn-send:hover,
.btn-send:focus {
  cursor: pointer;
  opacity: 0.9;
}

.btn-send:active {
  border: 0;
  box-shadow: 1px 0px #3f5f6a, 0px 1px #3f5f6a,
              2px 1px #3f5f6a, 1px 2px #3f5f6a,
              3px 2px #3f5f6a, 2px 3px #3f5f6a,
              4px 3px #3f5f6a, 3px 4px #3f5f6a;
  transform: translate(2px, 2px);
}

@media screen and (max-width: 769px) {
  body {
    background-image: rgba(0, 0, 0, 0);
  }
}

.headofthemodal{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.choose_section,.optionopen,.optionclose{
  display: flex;
}