// Place all the styles related to the Tables controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.carousel{
  width:100%;
}
.carousel-inner{
    margin: 0 auto;
    height: 100%;
    width: 100%;
}
.top {
    height: 60%;
    display: flex;
    justify-content: center;
}
.bottom{
    height: 40%;
}
.firstpage{
    height: 575px;
    background-image: url("/gridgird.png");
    background-repeat: repeat;
    width: 90%;
    margin: 0 auto;
}
.left {
    width: 37%;
}
.middle {
  width: 26%;
}
.right {
  width: 37%;
}
.left, .right,.bottom, .pageright{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.left {
    align-items: flex-end;
}
.right {
    align-items: flex-start;
}
.middle, .bottom, .pageright{
    align-items: center;
}
.floor{
    width: 70%;
    height: 30%;
    //background-color: white;
    //border-bottom: 6px solid #575757;
    //box-shadow: 0px 15px 10px -15px #111;
}
.floorside{
    height: 30%;
    //background-color: white;
    //border-bottom: 6px solid #575757;
    width: 80%;
    //box-shadow: 0px 15px 10px -15px #111;
}
.floorside, .floor{
    display: flex;
    align-items: flex-end;
    border-radius: 5px;
}
.five,.bottomright, .bottomleft{
    height: 30%;
    width: 80%;
}
.pageright{
    width: 100%;
}
// janenewhtml용 css
.cosmetic_box, .div2 {
    box-sizing: border-box;
    float: left;
    height: 100px;
    width: 75px;
    border-radius: 15px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    z-index: 1;
}
.cosmetic_box, .div2{
    transition: transform .8s;
}
.cosmetic_box:hover, .div2:hover{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);     
}

//프로필 사진 동그라미로 만들어쮸
.profileimage{
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 20px;
}
.footer{
    width:70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.comment_content{
    display: flex;
}
.comment_title{
    text-align: center;
}
.comment_comment{
    width: 80%;
}
.commentprofileimage, .mycommentprofileimage{
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
.comment_div, .friends_div {
    border-radius: 15px;
}
.comment_div{
    width: 50%;
}
.friends_div{
    width: 40%;
}
//가져온거
@import url(//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css);
.comment_div, .friends_div{
    border:1px solid #bbb;
    border-radius: 25px;
}
.titleBox {
    padding:10px;
}
.titleBox label{
  color:#444;
  margin:0;
  display:inline-block;
}
.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
}
.commentBox .form-group-com:first-child, .actionBox .form-group-com:first-child {
    width:80%;
}
.commentBox .form-group-com:nth-child(2), .actionBox .form-group-com:nth-child(2) {
    width:18%;
}
.taskDescription {
    margin-top:10px 0;
}
.commentList {
    padding:0;
    list-style:none;
    max-height:200px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    border-top:1px dotted #bbb;
    width:100%;
    padding: 10px 10px 10px 20px;
}
.a{
	display: flex;
}
.form-control{
  width: 400px;
}


.modal1, .cosmeticmodal{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  padding-top: 60px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* The Close Button */
.close {
  color: #aaaaaa;
  /*float: right;*/
  font-size: 28px;
  font-weight: bold;
  width: 20px;
  position: relative;
  bottom: 15px;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/*여기부터 상품등록*/
* {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
.modal-content1, .modal-content2{
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 2px 10px 18px #202020;
  display: block;
  height: 480px;
  margin: 50px auto;
  position: relative;
  transition: all 0.2s ease-in-out;
  width: 260px;
}
.ctn-form {
  display: block;
  height: 300px;
  margin: 15px auto;
  position: relative;
  width: 90%;
  top: 10px
}
.titletitle {
  color: #4c747e;
  display: block;
  font-size: 22px;
  font-weight: bold;
  position: relative;
}
.form-group {
  margin: 20px auto;
  position: relative;
  text-align: left;
  font-size: 13px;
}
.control-inputs {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  border-width: 0;
  box-shadow: none;
  color: rgba(0, 0, 0, 0);
  display: block;
  font-size: 1rem;
  height: 25px;
  line-height: 1.9;
  transition: all 0.28s ease;
  width: 100%;
}
.control-inputs:focus,
.control-inputs:valid {
  color: #333333;
}
.control-label {
  color: #9e9e9e;
  float: left;
  font-size: 1rem; 
  font-weight: normal;
  position: absolute;
  top: 0.25rem;
  transition: all 1s ease;
  z-index: 100;
}
.control-inputs:focus ~ .control-label, 
.control-inputs:valid ~ .control-label {
  color: #808080;
  font-size: 0.8rem;
  left: 0;
  top: -1rem;
}

.control-inputs:focus ~ .control-label {
  color: #4c747e;
}

.control-inputs:focus ~ .bar::before {
  left: 0;
  width: 100%;
}

.bar::before {
  background-color: #4c747e;
  bottom: -0.0625rem;
  content: '';
  font-size: 1em;
  height: 0.125rem;
  left: 50%;
  position: absolute;
  transition: left 0.28s ease, width 0.28s ease;
  width: 0;
  z-index: 1000;
}
  
.bar {
  border-bottom: 0.0625rem solid #9e9e9e;
  display: block;
  position: relative;
}

.btn-send {
  background-color: #4c747e;
  border: 0;
  box-shadow: 1px 0px #3f5f6a, 0px 1px #3f5f6a,
              2px 1px #3f5f6a, 1px 2px #3f5f6a,
              3px 2px #3f5f6a, 2px 3px #3f5f6a,
              4px 3px #3f5f6a, 3px 4px #3f5f6a,
              5px 4px #3f5f6a, 4px 5px #3f5f6a,
              6px 5px #3f5f6a, 5px 6px #3f5f6a;
  color: #ffffff;
  font-size: 17px;
  height: 37px;
  width: 100%;
}

.btn-send:hover,
.btn-send:focus {
  cursor: pointer;
  opacity: 0.9;
}

.btn-send:active {
  border: 0;
  box-shadow: 1px 0px #3f5f6a, 0px 1px #3f5f6a,
              2px 1px #3f5f6a, 1px 2px #3f5f6a,
              3px 2px #3f5f6a, 2px 3px #3f5f6a,
              4px 3px #3f5f6a, 3px 4px #3f5f6a;
  transform: translate(2px, 2px);
}

@media screen and (max-width: 769px) {
  body {
    background-image: rgba(0, 0, 0, 0);
  }
}

.headofthemodal{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.choose_section,.optionopen,.optionclose{
  display: flex;
}

.jprofile{
  width: 73%;
  margin: auto;
  padding-top: 70px;
}
.jprofile_top{
  background-color: white;
  background-color:rgba( 255, 255, 255, 0.89 );
}
.jprofile_bottom{
  height: 45px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1.5px solid #c4c4c4;
  border-bottom: 1.5px solid #c4c4c4;
}
.jprofile_bottom img{
  width: 25px;
  height: 25px;
}
.profile{
  display: flex;
  justify-content: center;
}
.profile_info_nick, .nofcos, .noffriends{
  text-align: center;
}
.nofcos, .noffriends {
  font-size: 15px;
}
.nofcos, .noffriends {
  position: absolute;
}
.nofcos{
  top: 0;
  left: 0;
}
.noffriends{
  top: 0;
  right: 0;
}
.profiletop{
  position: relative;
}
.jflex{
  display: flex;
}
.jflex_2{
  display: flex;
  justify-content: space-around;
}
.jpicture{
  margin-left: 10px;
}
.cosmeticclose{
  margin-left: 325px;
  font-size: 20px;
}
.modalcospic{
  display: flex;
  justify-content: center;
  align-items: center;
}

.jcontent{
  text-align: center;
  width: 240px;
}
.ulike, .unolike, .jedit{
  height: 30px;
  border-style: hidden;
  border-radius: 15px;
}

//재인시도해본다popover
.jhistory_popover, .jfriends_popover{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  padding-top: 60px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}
.jhistory_popover_content, .jfriends_popover_content{
  background-color: rgb(233, 212, 222);
  border-radius: 4px;
  box-shadow: 3px -2px 4px #AAA;
  display: block;
  height: 100px;
  margin: 50px auto;
  position: relative;
  transition: all 0.2s ease-in-out;
  width: 18%;
  top: 230px;
}

.popover-arrow {
  position: absolute;
  top: -18px;
  left: 20px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid rgb(233, 212, 222);
  width: 0;
  height: 0;
  -webkit-filter: drop-shadow(0 -2px 2px #AAA);
}
.jfclose, .jhclose{
  margin-left: 30px;
  font-size: 20px;
}